// Place all the styles related to the TimeEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-group {
  label {
    display: block;
  }
  .custom-control-inline {
  	margin-right: 0rem;
  }
}

#time_entry_total {
  font-size: 2rem;
  font-weight: bold;
}

hr.sep_line {
  border-width: 2px;
  margin-left: -11rem;
  margin-right: -11rem;
}

span.month_name {
  position: absolute;
  margin-left: -11rem;
  width: 11rem;
  color: gray;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

td, th {
  text-align: center;
}
td.date, th.date {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
}

td.time, th.time {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

td.link {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

th.actions {
  min-width: 300px;
}
/*
.table-div {
  display: table;
  padding: 0px;
  border-collapse: collapse;
}

.table-div:nth-child(2) {
  background-color: rgba(0,0,0,0.5);
}

.table-row {
  display: table-row;
  width:100%;
}

.table-cell {
  display: table-cell;
  padding: 0.75rem;
  text-align: center;
}

.table-head {
  font-weight: bold;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
}

.actions {
  width: 100%;
}

.link {
  padding: 0px 0.75rem;
}
*/
